# SQL Analysis on Chicago Schools & Crime Data
---------

### First step would be to load our 3 tables in our SQL

1. CENSUS_DATA

2. CHICAGO_PUBLIC_SCHOOLS

3. CHICAGO_CRIME_DATA

## Connecting with SQL Database

In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://rmx39209:JVp2hTAa8A2yFaTu@ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:31321/BLUDB?security=SSL

### Exploring our Data

In [3]:
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='rmx39209'

 * ibm_db_sa://rmx39209:***@ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:31321/BLUDB
Done.

[]

In [4]:
%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_CRIME_DATA'

 * ibm_db_sa://rmx39209:***@ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:31321/BLUDB
Done.

[(13736,)]

In [5]:
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_CRIME_DATA'

 * ibm_db_sa://rmx39209:***@ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:31321/BLUDB
Done.

[('ID', 'INTEGER', 4),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('COLUMN_0', 'INTEGER', 4),
 ('COLUMN_1', 'VARCHAR', 8),
 ('COLUMN_2', 'DATE', 4),
 ('COLUMN_3', 'VARCHAR', 35),
 ('COLUMN_4', 'VARCHAR', 4),
 ('COLUMN_5', 'VARCHAR', 15),
 ('COLUMN_6', 'VARCHAR', 46),
 ('COLUMN_7', 'VARCHAR', 33),
 ('COLUMN_8', 'VARCHAR', 5),
 ('COLUMN_9', 'VARCHAR', 5),
 ('COLUMN_10', 'SMALLINT', 2),
 ('COLUMN_11', 'SMALLINT', 2),
 ('COLUMN_12', 'SMALLINT', 2),
 ('COLUMN_13', 'SMALLINT', 2),
 ('COLUMN_14', 'VARCHAR', 3),
 ('COLUMN_15', 'INTEGER', 4),
 ('COLUMN_16', 'INTEGER', 4),
 ('COLUMN_17', 'SMALLINT', 2),
 ('COLUMN_18', 'DECIMAL', 18),
 ('COLUMN_19', 'DECIMAL', 18),
 ('COLUMN_20', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 255),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 255),
 ('IUCR', 'SMALLINT', 2),
 ('PRIMARY_TYPE', 'VARCHAR', 255),
 ('DESCRIPTION', 'VARCHAR', 255),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 255),
 ('ARREST', 'BOOLEAN', 1),
 ('DOMESTIC', 'BOOLEAN', 1),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'SMALLINT', 2),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y-COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DOUBLE', 8),
 ('LONGITUDE', 'DOUBLE', 8),
 ('LOCATION', 'CLOB', 1048576),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('COLUMN_0', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('COLUMN_2', 'DATE', 4),
 ('COLUMN_3', 'VARCHAR', 35),
 ('COLUMN_4', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('COLUMN_8', 'VARCHAR', 5),
 ('COLUMN_9', 'VARCHAR', 5),
 ('COLUMN_10', 'SMALLINT', 2),
 ('COLUMN_11', 'SMALLINT', 2),
 ('COLUMN_12', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('COLUMN_14', 'VARCHAR', 3),
 ('COLUMN_15', 'INTEGER', 4),
 ('COLUMN_16', 'INTEGER', 4),
 ('COLUMN_17', 'SMALLINT', 2),
 ('COLUMN_18', 'DECIMAL', 18),
 ('COLUMN_19', 'DECIMAL', 18),
 ('COLUMN_20', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('ID', 'INTEGER', 4),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 50),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('LATITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('LONGITUDE', 'DECIMAL', 18),
 ('ID', 'INTEGER', 4),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('COLUMN_0', 'INTEGER', 4),
 ('COLUMN_1', 'VARCHAR', 8),
 ('COLUMN_2', 'DATE', 4),
 ('COLUMN_3', 'VARCHAR', 35),
 ('COLUMN_4', 'VARCHAR', 4),
 ('COLUMN_5', 'VARCHAR', 15),
 ('COLUMN_6', 'VARCHAR', 46),
 ('COLUMN_7', 'VARCHAR', 33),
 ('COLUMN_8', 'VARCHAR', 5),
 ('COLUMN_9', 'VARCHAR', 5),
 ('COLUMN_10', 'SMALLINT', 2),
 ('COLUMN_11', 'SMALLINT', 2),
 ('COLUMN_12', 'SMALLINT', 2),
 ('COLUMN_13', 'SMALLINT', 2),
 ('COLUMN_14', 'VARCHAR', 3),
 ('COLUMN_15', 'INTEGER', 4),
 ('COLUMN_16', 'INTEGER', 4),
 ('COLUMN_17', 'SMALLINT', 2),
 ('COLUMN_18', 'DECIMAL', 18),
 ('COLUMN_19', 'DECIMAL', 18),
 ('COLUMN_20', 'VARCHAR', 29),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29),
 ('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'SMALLINT', 2),
 ('DOMESTIC', 'SMALLINT', 2),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'VARCHAR', 4),
 ('COMMUNITY_AREA_NUMBER', 'VARCHAR', 4),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),

### Problem 1: Find the total number of crimes recorded in the CRIME table.

In [6]:
%sql select count(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://rmx39209:***@ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:31321/BLUDB
Done.

[(533,)]

### Problem 2: List community areas with per capita income less than 11000.

In [8]:
%sql select community_area_name from CENSUS_DATA where per_capita_income<11000

 * ibm_db_sa://rmx39209:***@ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:31321/BLUDB
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3: List all case numbers for crimes involving minors?

In [16]:
%sql select case_number from CHICAGO_CRIME_DATA where description LIKE '%MINOR%'

 * ibm_db_sa://rmx39209:***@ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:31321/BLUDB
Done.

[('HL266884',), ('HK238408',)]

### Problem 4: What kind of crimes were recorded at schools?

In [26]:
%sql select primary_type,description from CHICAGO_CRIME_DATA where location_description LIKE '%SCHOOL%'

 * ibm_db_sa://rmx39209:***@ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:31321/BLUDB
Done.

[('BATTERY', 'SIMPLE'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY'),
 ('BATTERY', 'SIMPLE'),
 ('BATTERY', 'SIMPLE'),
 ('BATTERY', 'SIMPLE'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY'),
 ('CRIMINAL TRESPASS', 'TO LAND'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT')]

### Problem 5: List the average safety score for all types of schools.

In [30]:
%sql select AVG(safety_score) from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://rmx39209:***@ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:31321/BLUDB
Done.

[(49,)]

### Problem 6: Which community area(number) is most crime prone?

In [48]:
%sql select community_area_name from CENSUS_DATA WHERE hardship_index = ( SELECT MAX(hardship_index) FROM CENSUS_DATA)

 * ibm_db_sa://rmx39209:***@ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:31321/BLUDB
Done.

[('Riverdale',)]

### By number of crimes

In [54]:
%sql select community_area_number,COUNT(*) AS CRIMES from CHICAGO_CRIME_DATA GROUP BY community_area_number ORDER BY CRIMES DESC

 * ibm_db_sa://rmx39209:***@ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:31321/BLUDB
Done.

[(25, 43),
 (None, 43),
 (23, 22),
 (68, 21),
 (28, 16),
 (29, 16),
 (8, 15),
 (71, 14),
 (24, 13),
 (66, 12),
 (67, 12),
 (6, 11),
 (49, 11),
 (69, 11),
 (26, 10),
 (58, 10),
 (61, 10),
 (22, 9),
 (31, 9),
 (43, 9),
 (46, 9),
 (16, 8),
 (19, 8),
 (27, 8),
 (30, 8),
 (38, 8),
 (42, 8),
 (44, 8),
 (70, 8),
 (2, 7),
 (32, 7),
 (63, 7),
 (1, 6),
 (21, 6),
 (53, 6),
 (7, 5),
 (14, 5),
 (15, 5),
 (35, 5),
 (48, 5),
 (3, 4),
 (5, 4),
 (39, 4),
 (45, 4),
 (51, 4),
 (62, 4),
 (72, 4),
 (76, 4),
 (4, 3),
 (10, 3),
 (17, 3),
 (20, 3),
 (50, 3),
 (65, 3),
 (73, 3),
 (11, 2),
 (18, 2),
 (37, 2),
 (41, 2),
 (52, 2),
 (54, 2),
 (56, 2),
 (59, 2),
 (64, 2),
 (77, 2),
 (12, 1),
 (33, 1),
 (47, 1),
 (55, 1),
 (60, 1),
 (75, 1)]

### Problem 7: Use a sub-query to determine the Community Area Name with most number of crimes?

In [58]:
%sql select community_area_name from CENSUS_DATA WHERE community_area_number = 25

 * ibm_db_sa://rmx39209:***@ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:31321/BLUDB
Done.

[('Austin',)]

### Problem 8:List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [62]:
%sql select * from CHICAGO_CRIME_DATA WHERE primary_type='KIDNAPPING' AND description LIKE '%CHILD%'

 * ibm_db_sa://rmx39209:***@ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:31321/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]